.container h1{
  text-align: center;
  margin-bottom: 4%;
  margin-top: 4%;
  letter-spacing: 2pt;

}

.form-group{
  font-size: 12pt;
  letter-spacing: 1pt;
  margin: 3%;
}

div.languages div{
  margin:5%;
  text-align: center;
  display: none;
  border: solid;
  border-color: silver;
}

header {
  color: gray;
  font-size: 60px;
  border: 1px solid grey;
  padding: 2px;
  margin: 10px;
  float: left;

}

img {
  float: top;
}

.cnameinput {
  color: red;
}
